@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --white: #ffff;
}

body{
    display: grid;
    min-height: 100vh;
    background: var(--LightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.page-content{
    display: flex;
    margin: auto auto 0 auto;
    width: 800px;
    height: 300px;
    background: var(--white);
    border-radius: 10px;
}

.article-image > img{
    display: flex;
    height: 100%;
    width: 300px;
    border-radius: 10px 0 0 10px;
}

article{
    padding: 1.5rem 2rem;
    display: grid;
    row-gap: 1rem;
}

article > h1{
    color: var(--VeryDarkGrayishBlue);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

article > p{
    color: var(--DesaturatedDarkBlue);
    font-size: 16px;
}

.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 2rem;
}

.author-info{
    display: flex;
    gap: 1rem;
}

.author-info > img{
    max-width: 15%;
    border-radius: 50%;
}

.info > h2{
    font-size: 14px;
    color: var(--VeryDarkGrayishBlue);
}

.info > small{
    color: var(--GrayishBlue);
}

.share{
    background: var(--LightGrayishBlue);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    color: var(--VeryDarkGrayishBlue);
}

.share-links{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    padding: .6rem 2rem;
    border-radius: 8px;
    color: var(--GrayishBlue);
    background: var(--VeryDarkGrayishBlue);
    gap: .8rem;
    right: -3.8rem;
    bottom: 4rem;
}

.share-links::after{
    content: "";
    background: transparent;
    height: 0;
    width: 0;
    top: 2.4rem;
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid var(--VeryDarkGrayishBlue);
    
}

.capitalize{
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 11px;
}

.clickables{
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* To reveal the hidden share div tag */
.show{
    display: flex;
}

/* to change css properties of the share icon onclick */
.reveal{
    background: var(--VeryDarkGrayishBlue);
    color: var(--white);
}

/* =====setting up responsiveness for tablet devices===== */
@media screen and (max-width: 64rem){
    .page-content{
        width: 700px;
    }

    .page-right{
        display: grid;
        padding-bottom: 1rem;
    }

    article > h1{
        font-size: 20px;
    }

    article > p{
        font-size: 16px;
    }
}

/* =====Setting up responsiveness for mobile devices=== */
@media screen and (max-width: 37.5rem){
    .page-content{
        flex-direction: column;
        width: 310px;
        height: auto;
    }

    .article-image > img{
        display: flex;
        height: auto;
        width: auto;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
    }

    article{
        row-gap: .6rem;
    }

    article > h1{
        font-size: 16px;
    }

    article > p{
        font-size: 13px;
    }

    .author{
        margin: 0 0 1rem 0;
    }

    .share{
        z-index: 1;
    }

    .share-links{
        position: absolute;
        /* display: flex; */
        justify-content: left;
        padding: 1.5rem 2rem;
        border-radius: 0 0 10px 10px;
        gap: 1rem;
        right: 0;
        width: 100%;
        bottom: -1rem;
    }

    .share-links::after{
        display: none;
    }

    /* to change css properties of the share icon onclick */
    .reveal{
        background: var(--DesaturatedDarkBlue);
        color: var(--white);
    }
}